<app-titles title="¡Ya casi terminamos!" subtitle="Revisa la información, y completa lo solicitado"></app-titles>

<div class="main" *ngIf="dataUser">
    <app-card-user [dataUser]="dataUser"></app-card-user>

    <div class="card-pokemons">
        <div class="titles-pokemon">
            <p class="title-pokemon">Pokémon</p>
            <p class="subtitle-pokemon">Selecciona 3 pokemons para que sean parte de tu equipo</p>
        </div>
        
        <div class="container-pokemons">
            <div class="container-ckeckbox" *ngFor="let pokemon of pokemons; let i = index">
                <input type="checkbox" [id]="'myCheckbox' + i" (click)="addPokemon(pokemon, i)" [disabled]="disabledCheck"/>
                <label [for]="'myCheckbox' + i">
                    <div class="container-image">
                        <img [src]="pokemon.image" class="image-pokemon"/>
                        <p class="text-name">{{ pokemon.name }}</p>
                    </div>
                </label>
            </div>
        </div>
        

        <button mat-raised-button type="submit" class="btn-submit" [disabled]="disabledCheck == false">
            Continuar
        </button>

    </div>
</div>